# IMPORTING ALL THE REQUIRED LIBRARIES

In [2]:
#importing the basics libraries required for data analysis 


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import plotly as py
import plotly.graph_objs as go
import ipywidgets as widgets
import plotly.offline as po
import dash
import dash_core_components as dcc
import dash_html_components as html
import json
import dash_bootstrap_components as dbc
import plotly.express as px
from dash.dependencies import Input,Output 



py.offline.init_notebook_mode(connected=True)

# IMPORTING THE DATASET

In [3]:
#LEts now import the csv file

url="https://raw.githubusercontent.com/Sangram14/Global_Suicide-analysis-Project/main/dataset/dataset.csv"
df=pd.read_csv(url)

# DATA WRANGLING

In [4]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [6]:
#delete the columns which are not useful to us

df.drop(['country-year','HDI for year','gdp_per_capita ($)'],axis=1,inplace=True)

In [7]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",Boomers

In [8]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', ' gdp_for_year ($) ', 'generation'],
      dtype='object')

In [9]:
#Deleting a row using the del function.

del df[' gdp_for_year ($) ']

In [10]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Boomers

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27820 non-null  object
 1   year               27820 non-null  int64
 2   sex                27820 non-null  object
 3   age                27820 non-null  object
 4   suicides_no        27820 non-null  int64
 5   population         27820 non-null  int64
 6   suicides/100k pop  27820 non-null  float64
 7   generation         27820 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 1.7+ MB

In [12]:
df.isna().sum()

country              0
year                 0
sex                  0
age                  0
suicides_no          0
population           0
suicides/100k pop    0
generation           0
dtype: int64

In [13]:
df.describe()

               year   suicides_no    population  suicides/100k pop
count  27820.000000  27820.000000  2.782000e+04       27820.000000
mean    2001.258375    242.574407  1.844794e+06          12.816097
std        8.469055    902.047917  3.911779e+06          18.961511
min     1985.000000      0.000000  2.780000e+02           0.000000
25%     1995.000000      3.000000  9.749850e+04           0.920000
50%     2002.000000     25.000000  4.301500e+05           5.990000
75%     2008.000000    131.000000  1.486143e+06          16.620000
max     2016.000000  22338.000000  4.380521e+07         224.970000

In [14]:
print(df.shape)
type(df)

(27820, 8)

pandas.core.frame.DataFrame

In [15]:
print(df["country"].nunique())
print(df["country"].unique())
print("\n\n")

print(df['year'].nunique())
print(df['year'].unique())
print("\n\n")

print(df['age'].nunique())
print(df['age'].unique())
print("\n\n")

print(df['generation'].nunique())
print(df['generation'].unique())
print("\n\n")

print(df['sex'].nunique())
print(df['sex'].unique())

101
['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Cabo Verde'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Dominica' 'Ecuador' 'El Salvador' 'Estonia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Greece' 'Grenada'
 'Guatemala' 'Guyana' 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Kazakhstan' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Luxembourg' 'Macau' 'Maldives' 'Malta' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Netherlands' 'New Zealand' 'Nicaragua' 'Norway'
 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and Grenadines'
 'San Marino' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden' 'Switzerland'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan']



32
[1987 1988 1989 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010 1985 1986 1990 1991 2012 2013
 2014 2015 2011 2016]



6
['15-24 years' '35-54 years' '75+ years' '25-34 years' '55-74 years'
 '5-14 years']



6
['Generation X' 'Silent' 'G.I. Generation' 'Boomers' 'Millenials'
 'Generation Z']



2
['male' 'female']

In [16]:
#The total suicides count in the countries in all the years from (1987-2014) as per the data.

df.groupby(["country"])['suicides_no'].sum()

country
Albania                    1970
Antigua and Barbuda          11
Argentina                 82219
Armenia                    1905
Aruba                       101
                         ...
United Arab Emirates        622
United Kingdom           136805
United States           1034013
Uruguay                   13138
Uzbekistan                34803
Name: suicides_no, Length: 101, dtype: int64

In [17]:
df.columns
yr_scount=df.groupby("year")["suicides_no"].sum()
print(yr_scount)

year
1985    116063
1986    120670
1987    126842
1988    121026
1989    160244
1990    193361
1991    198020
1992    211473
1993    221565
1994    232063
1995    243544
1996    246725
1997    240745
1998    249591
1999    256119
2000    255832
2001    250652
2002    256095
2003    256079
2004    240861
2005    234375
2006    233361
2007    233408
2008    235447
2009    243487
2010    238702
2011    236484
2012    230160
2013    223199
2014    222984
2015    203640
2016     15603
Name: suicides_no, dtype: int64

# DATA ANALYSIS

### BASIC ANALYSIS

In [18]:


layout=go.Layout(
    title={
        'text':"Year(1985-2016) Wise Suicides",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
        
    },
    yaxis=dict(
        
        title="Suicides Count",
       
    ),
    xaxis=dict(
        title="Years",
       
    ),
    plot_bgcolor='rgb(230,230,230)',
    showlegend=True

)

colors=['cornflowerblue','lightseagreen','steelblue']
#cols=['darkslategray','tomato','rebeccapurple','mediumaquamarine']

trace0=go.Scatter(
    x=yr_scount.index,
    y=yr_scount.values,
    mode='lines+markers',
    name="Sucides count",
    line=dict(
        shape='spline',
        color='steelblue',
        width=2
    ),
    marker=dict(
        color='rebeccapurple'
    )
    
)

data=[trace0]

fig=go.Figure(data=data,layout=layout)
po.plot(fig)

'temp-plot.html'

### GENDER WISE ANALYSIS

In [ ]:
gen_scount=df.groupby(['sex'])['suicides_no'].sum()
print(gen_scount)

In [ ]:
df['sex'].nunique()

In [ ]:
layout=go.Layout(
    title={
        'text':"World-Wide Suicides by Gender [Years(1985-2016)]",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
        
    },
)

trace0=go.Pie(
    labels=gen_scount.index,
    values=gen_scount.values
)

data=[trace0]

fig=go.Figure(data=data,layout=layout)
po.plot(fig)

In [ ]:
dff=df.groupby(['year','sex'])['suicides_no'].sum()
print(dff)

In [ ]:
type(dff)

In [ ]:
dff=dff.reset_index(level=[0,1])

In [ ]:
dff.columns

In [ ]:
fig=px.bar(
    dff,
    x='year',
    y='suicides_no',
    color='sex'

)

fig.update_layout(
    updatemenus=[
        go.layout.Updatemenu(
            type='buttons',direction='right',active=0,x=0.1,y=1.2,
            buttons=list(
                [
                    dict(
                        label="Both",method="update",
                        args=[{"visible":[True,True]},{"title":"Total Suicides_count yearwise"}]
                    ),
                    dict(
                        label="Female",method="update",
                        args=[{"visible":[True,False]},{"title":"Female Suicides_count yearwise"}]
                    ),
                    dict(
                        label="Male",method="update",
                        args=[{"visible":[False,True]},{"title":"Male Suicides_count yearwise"}]
                    )
                
                ]
            )
        )
    ],
    
    title={
        'text':"Gender_wise Suicides count from Year(1985-2016)",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
        
    },
    
    yaxis=dict(
        title="Suicides Count",
       ),
    xaxis=dict(
        title="Years",
       )
)


po.plot(fig)

In [ ]:
df.columns

In [ ]:
yr_gen_scount=df.groupby(['year','sex'])['suicides/100k pop'].sum()
print(yr_gen_scount)

In [ ]:
nz=yr_gen_scount.reset_index(level=[0,1])
print(nz)

In [ ]:
nz.columns

In [ ]:
fig=px.line(
    nz,
    x="year",
    y="suicides/100k pop",
    color='sex',
)

fig.update_traces(
    mode="lines+markers"
)

fig.update_layout(
    title={
        'text':"Year(1985-2016) Wise Suicides/100k pop",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
    },
    
   yaxis=dict(
        
        title='Suicides/100k pop',
       
    ),
    xaxis=dict(
        title="Years",
       
    ),
)

po.plot(fig)

### AGE Wise Analysis

In [19]:
age_scount=df.groupby('age')['suicides_no'].sum()
print(age_scount)

age
15-24 years     808542
25-34 years    1123912
35-54 years    2452141
5-14 years       52264
55-74 years    1658443
75+ years       653118
Name: suicides_no, dtype: int64

In [20]:
layout=go.Layout(
    title={
        'text':"World-Wide Suicides by Age-Group [Years(1985-2016)]",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
        
    },
)

trace0=go.Pie(
    labels=age_scount.index,
    values=age_scount.values
)



data=[trace0]

fig=go.Figure(data=data,layout=layout)
po.plot(fig)

'temp-plot.html'

In [ ]:
ndf=df.groupby(['age','year'])['suicides/100k pop'].mean()

In [ ]:
ndf=pd.DataFrame(ndf)

In [ ]:
ndf=ndf.reset_index(level=[0,1])

In [ ]:
ndf.columns

In [ ]:
ndf

In [ ]:
fig=px.line(
    ndf,
    x='year',
    y='suicides/100k pop',
    color='age'
)

fig.update_traces(
    mode="lines+markers"
)

fig.update_layout(
    title={
        'text':"Year(1985-2016) Wise Suicides/100k pop",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
    },
    
   yaxis=dict(
        
        title='Suicides/100k pop',
       
    ),
    xaxis=dict(
        title="Years",
       
    ),
)

po.plot(fig)

In [21]:
ag_gen_scount=df.groupby(['age','sex'])['suicides_no'].sum()
print(ag_gen_scount)

age          sex
15-24 years  female     175437
             male       633105
25-34 years  female     208823
             male       915089
35-54 years  female     506233
             male      1945908
5-14 years   female      16997
             male        35267
55-74 years  female     430036
             male      1228407
75+ years    female     221984
             male       431134
Name: suicides_no, dtype: int64

In [22]:
type(ag_gen_scount)
ag_gen_scount=pd.DataFrame(ag_gen_scount)
print(ag_gen_scount)

                    suicides_no
age         sex
15-24 years female       175437
            male         633105
25-34 years female       208823
            male         915089
35-54 years female       506233
            male        1945908
5-14 years  female        16997
            male          35267
55-74 years female       430036
            male        1228407
75+ years   female       221984
            male         431134

In [23]:
ag_gen_scount=ag_gen_scount.reset_index(level=[0,1])
print(ag_gen_scount)

            age     sex  suicides_no
0   15-24 years  female       175437
1   15-24 years    male       633105
2   25-34 years  female       208823
3   25-34 years    male       915089
4   35-54 years  female       506233
5   35-54 years    male      1945908
6    5-14 years  female        16997
7    5-14 years    male        35267
8   55-74 years  female       430036
9   55-74 years    male      1228407
10    75+ years  female       221984
11    75+ years    male       431134

In [24]:
ag_gen_scount.columns

Index(['age', 'sex', 'suicides_no'], dtype='object')

In [27]:
fig=px.bar(
    ag_gen_scount,
    x='age',
    y='suicides_no',
    color='sex'
)

fig.update_layout(
    updatemenus=[
        go.layout.Updatemenu(
            type='buttons',direction='right',active=0,x=0.1,y=1.2,
            buttons=list(
                [
                    dict(
                        label="Both",method="update",
                        args=[{"visible":[True,True]},{"title":"Total Suicides_count yearwise"}]
                    ),
                    dict(
                        label="Male",method="update",
                        args=[{"visible":[True,False]},{"title":"Male Suicides_count yearwise"}]
                    ),
                    dict(
                        label="Female",method="update",
                        args=[{"visible":[False,True]},{"title":"Female Suicides_count yearwise"}]
                    )
                
                ]
            )
        )
    ],
    
    title={
        'text':"Gender_wise Suicides count from Year(1985-2016)",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
        
    },
    
    yaxis=dict(
        title="Suicides Count",
       ),
    xaxis=dict(
        title="Years",
       )
)


po.plot(fig)

'temp-plot.html'

### Country wise Analysis

In [ ]:
world=json.load(open("world2.json","r"))

In [ ]:
world['features'][0].keys()

In [ ]:

world['features'][13]['properties']

In [ ]:
world_map={}
for feature in world['features']:
    world_map[feature['properties']['name']]=feature['id']

In [ ]:
world_map

In [ ]:
df['id']=df['country'].apply(lambda x:world_map[x])

In [ ]:
df.head()

In [ ]:
nx=df.groupby(['country','id'])['suicides/100k pop'].sum()

In [ ]:
nx=nx.reset_index()

In [ ]:
nx

In [ ]:
nx['country']

In [ ]:
nx.columns

In [ ]:
fig=px.choropleth(nx,locations='id',
                  geojson=world,
                  color='suicides/100k pop',
                  hover_name='country',
                  hover_data=['suicides/100k pop']
                 )


fig.update_layout(
            title={
            'text':"Country wise suicides/100k population (Year:- 1985-2016)",
            'y':0.9,
            'x':0.5,
            'xanchor':'right',
            'yanchor':'top'
        
        }        
    )

po.plot(fig)

In [ ]:
ndf=df.groupby(['country','year'])['suicides/100k pop'].mean()

In [ ]:
ndf=ndf.reset_index(level=[0,1])

In [ ]:
ndf

In [ ]:
tablz=pd.pivot_table(ndf,columns=['country'],index=['year'],values='suicides/100k pop')

In [ ]:
tablz

In [ ]:
traces=[go.Scatter(
    x=tablz.index,
    y=tablz.loc[:,col_name],
    mode='lines+markers',
    name=col_name
)for col_name in tablz.columns]

layout=go.Layout(
    title={
        'text':"Year(1985-2016) Wise Suicides/100k pop",
        'y':0.9,
        'x':0.5,
        'xanchor':'center',
        'yanchor':'top'
    },
    
   yaxis=dict(
        
        title='Suicides/100k pop',
       
    ),
    xaxis=dict(
        title="Years",
       
    ),
)


myfig=go.Figure(data=traces,layout=layout)
po.plot(myfig)

In [ ]:
country=tablz.columns
print(country)

In [ ]:
ndf=df.groupby(['year','country'],as_index=False)['suicides_no'].mean()
ndf=ndf.set_index('year')
print(ndf)

In [ ]:
app=dash.Dash(__name__)

In [ ]:
app.layout=html.Div([
 
    html.Div([
        
        dcc.Graph(id='mygraph')
    ],className='nine columns'),
    
    html.Div([
        
        html.Br(),
        html.Label(["Choose the 3 country to compare"],style={'font-weight':'bold',"text-align":'center'}),
        dcc.Dropdown(id='country_one',
            options=[{'label':x,'value':x} for x in ndf.sort_values('country')['country'].unique()],
            value="Albania",
            multi=False,
            disabled=False,
            clearable=True,
            searchable=True,
            placeholder='Choose Country..',
            className='form-dropdown',
            
            persistence='string',
            persistence_type='memory'
        ),
        
        dcc.Dropdown(id='country_two',
            options=[{'label':x,'value':x} for x in ndf.sort_values('country')['country'].unique()],
            value="Armenia",
            multi=False,
            clearable=False,
            persistence='string',
            persistence_type='session'
        ),
        
        dcc.Dropdown(id='country_three',
            options=[{'label':x,'value':x} for x in ndf.sort_values('country')['country'].unique()],
            value="Austria",
            multi=False,
            clearable=False,
            persistence='string',
            persistence_type='local'
        )
        
    ],className='three columns'),
    
])

In [ ]:
@app.callback(
    Output('mygraph', 'figure'),
    Input('country_one', 'value'),
    Input('country_two', 'value'),
    Input('country_three', 'value'))


def build_graph(first_country,second_country,third_country):
    dff=ndf[(ndf['country']==first_country) |
            (ndf['country']==second_country) |
            (ndf['country']==third_country) ]
    
    dff=dff.reset_index()
    
    fig=px.line(dff,x='year',y='suicides_no',color='country',height=600)
    fig.update_layout(yaxis={'title':'Suicides_no(mean)'},
                      title={'text':'Sucides_no mean Country-wise',
                      'font':{'size':28},'x':0.5,'xanchor':'center'})
                      
    return fig

In [ ]:
if __name__=='__main__':
    app.run_server(debug=False)

In [ ]:
df