In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

url="https://raw.githubusercontent.com/Sangram14/Global_Suicide-analysis-Project/main/dataset/dataset.csv"
df=pd.read_csv(url)

In [4]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [5]:
df['age'].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [6]:
# grabs first 2 chars from Age Column
df['AgeNum'] = df['age'].str[:2]

# remove all instances of dash -
df['AgeNum'] = df['AgeNum'].map(lambda x: x.replace('-',''))

# now, convert it to type int (not Object)
df['AgeNum'] = df['AgeNum'].astype(int)

df['AgeNum'].tail(3)

27817     5
27818     5
27819    55
Name: AgeNum, dtype: int32

In [7]:
new_data = df.loc[:,['year','sex','AgeNum','suicides_no']]
new_data.head(3)

   year     sex  AgeNum  suicides_no
0  1987    male      15           21
1  1987    male      35           16
2  1987  female      15           14

In [8]:
X = new_data.iloc[:, :-1].values # grab the every col except last
y = new_data.iloc[:, -1].values # grab last col

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.7, random_state = 10)
y_train

array([27,  0,  0, ..., 18, 41, 20], dtype=int64)

In [11]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [12]:
print(regressor.predict([[1,0,1996,45]]))

[130.09987682]

In [21]:
y_pred_test = regressor.predict(X_test)
y_pred_train = regressor.predict(X_train)
from sklearn import metrics
rms_test = np.sqrt(metrics.mean_squared_error(y_test, y_pred_test))
rms_train = np.sqrt(metrics.mean_squared_error(y_train, y_pred_train))
print('The RMSE of the training set is: ' + rms_train.astype(str))
print('The RMSE of the test set is: ' + rms_test.astype(str))

The RMSE of the training set is: 1330.8294787859033
The RMSE of the test set is: 1370.093459328918

In [22]:
from sklearn.ensemble import RandomForestClassifier
regressor = RandomForestClassifier(n_estimators=30)
regressor.fit(X_train, y_train)
y_pred_test = regressor.predict(X_test)
y_pred_train = regressor.predict(X_train)
from sklearn.metrics import mean_squared_error
rms_test = np.sqrt(mean_squared_error(y_test, y_pred_test))
rms_train = np.sqrt(mean_squared_error(y_train, y_pred_train))
print('The RMSE of the training set is: ' + rms_train.astype(str))
print('The RMSE of the test set is: ' + rms_test.astype(str))

The RMSE of the training set is: 1359.7510296700323
The RMSE of the test set is: 1414.119357245675